.lower-panel {
    width: 235px;
    height: 205px;
    margin-left: 55px;
}
.numbers {
    display: inline-block;
}
.number {
    width: 40px;
    height: 40px;
    display: inline-block;
    background: #F1F1F1;
    border: 1px solid #000000;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    margin-right: 15px;
    margin-top: 15px;
}
.number:hover {
    background: black;
    color: white;
    transition: 300ms;
}
.big-button {
    position: absolute;
    margin-top: 0px;
    display: inline-block;
    width: 40px;
    margin-left: 2px;
}
.bigBtn {
    width: 40px;
    height: 40px;
    display: inline-block;
    background: #F1F1F1;
    border: 1px solid #000000;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    margin-top: 15px;
}
.bigBtn:hover {
    background: black;
    color: white;
    transition: 300ms;
}